#!/bin/bash
# autostart.sh
# by maplepy

run_if_not_running() {
    if ! pidof "$1" ;
    then
        "$@" &
    else
        notify-send "autostart" "$1 is already running"
    fi
}

# run_if_not_running nextcloud
run_if_not_running picom -b
{{ if not .laptop -}}
run_if_not_running ckb-next
run_if_not_running numlockx
#run_if_not_running nvfancontrol
{{- end }}

# Need to install
# python-pydbus
# python-dbus-next
