#!/bin/bash
# autostart.sh
# by maplepy

run_if_not_running() {
    if ! pgrep -f "$1" ;
    then
        "$@" &
    else
        notify-send "autostart" "$1 is already running"
    fi
}

{{ if not .laptop -}}
run_if_not_running picom -b
run_if_not_running ckb-next
run_if_not_running nvfancontrol
{{- end }}

# Need to install
# python-pydbus
