{{/* boolean tags */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $personal := false -}}{{/* true if this machine should have personal secrets */}}
{{- $laptop := false -}}{{/* true if it's a laptop with a smaller screen */}}
{{- $gaming := false -}}{{/* true if this machine is used for gaming */}}
{{- $ephemeral := false -}}{{/* true if this machine is an ephemeral environment (e.g., Codespaces) */}}
{{- "" -}}

{{/* get distro name */}}
{{- $osID := .chezmoi.os -}}
{{- if and (eq .chezmoi.os "linux") (hasKey .chezmoi.osRelease "id") -}}
{{-   $osID = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, Multipass VMs, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode") -}}
{{-   $personal = false -}}
{{-   $ephemeral = true -}}
{{- end -}}

{{/* prompt for the laptop and gaming boolean values */}}
{{- $laptop := promptBoolOnce . "laptop" "Is this machine a laptop" -}}
{{- $gaming := promptBoolOnce . "gaming" "Is this machine used for gaming" -}}

[data]
    headless = {{ $headless }}
    personal = {{ $personal }}
    laptop = {{ $laptop }}
    gaming = {{ $gaming }}
    ephemeral = {{ $ephemeral }}

    osid = {{ $osID | quote }}
    wm = {{ prompt `Choose your window manager (bspwm/qtile/none):` | quote }}


[git]
    autoCommit = true
    autoPush = true
