settings.json

{{ if .headless }}
mpv
{{- end }}

{{ if not .gaming }}
.config/steamtinkerlaunch
{{- end }}

{{ if ne .chezmoi.os "linux" }}
# Ignore linux scripts unless os is linux
.chezmoiscripts/linux/**
.local/share/fonts
{{ end }}

{{ if ne .wm "qtile" }}
# Ignore qtile folder if not using qtile
.config/qtile
{{ end }}

{{ if ne .wm "bspwm" }}
# Ignore bspwm folder if not using bspwm
.config/bspwm
.config/sxhkd
.config/polybar
{{ end }}

{{ if ne .wm "hyprland" }}
# Ignore Hyprland-specific files if not using Hyprland
run_once_install-hyprland-packages.sh.tmpl
.config/hypr
.config/waybar
{{ end }}
