// Zed settings
//
// For information on how to configure Zed, see the Zed
// documentation: https://zed.dev/docs/configuring-zed
//
// To see all of Zed's default settings without changing your
// custom settings, run `zed: open default settings` from the
// command palette (cmd-shift-p / ctrl-shift-p)
{
  "features": {
    "edit_prediction_provider": "copilot"
  },
  "agent": {
    "always_allow_tool_actions": true,
    "play_sound_when_agent_done": true,
    "default_model": {
      "provider": "copilot_chat",
      "model": "gpt-5.2"
    }
  },
  "context_servers": {
    "container-use-mcp": {
      "enabled": true,
      "settings": {
      "cu_path": "/home/maplepy/.local/bin/cu"
      }
    },
    "mcp-server-github": {
      "settings": {
        "github_personal_access_token": "{{ .github_pat | default "" }}"
      }
    },
    "mcp-server-context7": {
      "settings": {
        "default_minimum_tokens": "10000"
      }
    }
  },
  "ui_font_family": "JetBrainsMonoNL Nerd Font Propo",
  "buffer_font_family": "JetBrainsMonoNL Nerd Font Propo",
  "ui_font_size": 16,
  "buffer_font_size": 15,
  "theme": {
    "mode": "dark",
    "light": "One Light",
    "dark": "One Dark"
  },
  "telemetry": {
    "diagnostics": false,
    "metrics": false
  }
}
