/* Import colors from Matugen */
@import "colors.css";

* {
    font-family: "OpenAI Sans Semibold", "JetBrainsMonoNL Nerd Font Propo", sans-serif;
    font-size: 14px;
    color: @on_background;
    min-height: 0;
}


window.eDP-1 * {
    font-size: 10px;
}

window#waybar {
    background-color: alpha(@background, .5);
}

tooltip {
  background: alpha(@background, .75);
  border: 1px solid alpha(@on_background, .5);
}
tooltip label {
  color: @on_background;
}


.modules-left,
.modules-center,
.modules-right {
    margin: 4px 8px;
}

.modules-right .module,
.modules-left .module {
    border-radius: 4px;
    padding: 0 8px;
    font-family: "JetBrainsMonoNL Nerd Font Propo";
}

#workspaces button {
    padding: 2px 8px;
}
#workspaces button.active {
    background: @inverse_on_surface;
}

.modules-right .module:not(#tray):hover,
.modules-left .module:not(#workspaces):hover,
#workspaces button:hover
{
    color: @on_primary_container;
    background-color: @primary_container;
    transition: all .5s;
}

#clock {
    font-family: "OpenAI Sans Semibold";
    background-color: @primary;
    color: @on_primary;
}

#battery.charging {
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: @on_surface;
        color: @surface;
    }
}

#battery.warning:not(.charging) {
    background-color: @error_container;
    color: @on_error_container;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
