@use "variables" as *;

.control-center {
    /* The Control Center which contains the old notifications + widgets */
    background-color: rgba($background, 0.75);
    color: $on_surface;
    border-radius: 0;

    .control-center-list-placeholder {
        /* The placeholder when there are no notifications */
        opacity: 0.75;
    }

    .control-center-list {
        /* List of notifications */
        /* background: transparent; */

        .notification {
            box-shadow: 0 2px 8px 0 $background;

            background-color: $surface_container;
            color: $on_surface;

            .notification-default-action,
            .notification-action {
                transition: $transition-opacity, $transition-background;

                &:hover {
                    background-color: $surface_container_high;
                }
            }
        }
    }
}

.notification-group {
    /* Styling only for Grouped Notifications */
    transition: $transition-all;

    .notification-row {
        /* background-color: pink; */
        &:not(:only-child) {
            .notification-background {
                .notification {
                    /* background-color: dodgerblue; */
                    /* border-radius: 0; */
                }
                .notification-action {
                    /* background-color: violet; */
                    /* border-radius: 0; */
                    /* border-top: none; */
                }
            }
        }
    }
}

.blank-window {
    /* Window behind control center and on all other monitors */
    background: transparent;
}
