@import "matugen.css";

* {
  background-image: none;
  box-shadow: none;
}

window {
  background-color: alpha(@background, 0.75);
}

button {
  border-radius: calc(1rem / 2);
  text-decoration-color: @on_background;
  background-color: @background;
  border: 1px solid @outline;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  margin: 1rem;
}

button:focus,
button:active,
button:hover {
  background-color: @primary_container;
  color: @on_primary_container;
  outline-style: none;
}

#lock {
  background-image: image(
    url("./icons/lock.svg"),
    url("/usr/share/wlogout/icons/lock.png"),
    url("/usr/local/share/wlogout/icons/lock.png")
  );
}

#logout {
  background-image: image(
    url("./icons/logout.svg"),
    url("/usr/share/wlogout/icons/logout.png"),
    url("/usr/local/share/wlogout/icons/logout.png")
  );
}

#suspend {
  background-image: image(
    url("./icons/pause.svg"),
    url("/usr/share/wlogout/icons/suspend.png"),
    url("/usr/local/share/wlogout/icons/suspend.png")
  );
}

#hibernate {
  background-image: image(
    url("./icons/hibernate.svg"),
    url("/usr/share/wlogout/icons/hibernate.png"),
    url("/usr/local/share/wlogout/icons/hibernate.png")
  );
}

#shutdown {
  background-image: image(
    url("./icons/shutdown.svg"),
    url("/usr/share/wlogout/icons/shutdown.png"),
    url("/usr/local/share/wlogout/icons/shutdown.png")
  );
}

#reboot {
  background-image: image(
    url("./icons/reboot.svg"),
    url("/usr/share/wlogout/icons/reboot.png"),
    url("/usr/local/share/wlogout/icons/reboot.png")
  );
}
