# Inspired from https://kokomins.wordpress.com/2019/10/14/mpv-config-guide/#

{{ if .laptop }}
## Power-efficient profile, optimized for weaker systems

#profile=opengl-hq # Use OpenGL for better compatibility and efficiency
#gpu-api=opengl
#vo=opengl
hwdec=no # Disable hardware decoding for better performance on weaker systems

{{ else -}}
## High quality profile, better upscaling algo
profile=gpu-hq
gpu-api=vulkan # can be disabled if performance issue
# try opengl if 3D311 (default) has issues

## Advanced Video Scaling Config
#if GTX 1050+
# scale=ewa_lanczossharp
# dscale=mitchell
# cscale=spline36 # alternatively ewa_lanczossoft depending on preference

{{- end }}

# Audio settings
volume=100
volume-max=120
alang=en,fr
audio-file-auto=fuzzy

# Subtitle settings
slang=en,fr
sub-auto=fuzzy
sub-font-size=40
# sub-gauss=0.5 # Blur PGS subs.
# sub-gray=yes # Monochrome subs (makes yellow font grey).

# User interface settings
osc=no
# osd-duration=500 # Hide OSD text after x ms.
# no-osd-bar # Hide OSD bar when seeking.
#osd-font-size=24

# YouTube-DL settings
ytdl-format=bestvideo[height<=?1080]+bestaudio/best

# Additional settings
#keep-open=yes

## Screenshot
screenshot-format=png
screenshot-high-bit-depth=yes
# screenshot-png-compression=7 # Setting too high may lag the PC on weaker systems. Recommend 3 (weak systems) or 7.
screenshot-directory="/mnt/data/Images/mpv/"
