# Remove fish greeting
set fish_greeting

#
## ALIASES
#

# Quick aliases
command -q vim; and alias v='vim'
{{- if eq .osid "linux-arch" }}
command -q nvim; and alias v='nvim'
command -q codium; and alias code='codium'
{{- end }}
alias rename='perl-rename'
alias ka='killall'
alias ipa='curl ifconfig.me'
alias se='sudoedit'
alias df='df -h'
alias dus='du -sh'
#alias free='free -m'


# Ls
alias ls='lsd --group-dirs first --hyperlink auto' # shows directories first
alias l='ls -l' # detailed ls
alias la='ls -A' # ls with hidden files
alias ll='ls -lA' # detailed ls with hidden files
alias lt='ls --tree'
alias lta='lt -A'


# Kitty
[ "$TERM" = "xterm-kitty" ] && alias s="kitty +kitten ssh"
[ "$TERM" = "xterm-kitty" ] && alias d="kitty +kitten diff"
[ "$TERM" = "xterm-kitty" ] && alias icat="kitty +kitten icat"
[ "$TERM" = "xterm-kitty" ] && alias g="kitty +kitten hyperlinked_grep"


# Git related
alias gitpullrecursive='find . -type d -name .git -exec sh -c "cd \"{}\"/../ && pwd && git pull" \;'
alias gcl='git clone'
alias gps='git push'
alias gpl='git pull'
alias gst='git status -s'
alias gstt='git status'
alias gsm='git submodule'
alias gad='git add'
alias gdf='git diff'
alias gdd="git difftool --no-symlinks --dir-diff"
alias gcm='git commit -m'
alias gchm='git commit --amend -m'
alias gls='git ls-files'
alias glsn='git ls-files | wc -l'
alias gco='git checkout'
alias gbr="git branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate"
alias glg='git log --oneline --graph | head -n 15'
alias glgg='git log --oneline --graph'
#git log --pretty=format:"%C(yellow)%h %Creset%s %Cblue[%cn]"
alias glgd='git log --pretty=format:"%C(yellow)%h%Cred%d %Creset%s%Cblue [%cn]" --decorate --date=short'
alias glga='git log --pretty=format:"%C(yellow)%h %ad%Cred%d | %Creset%s%Cblue [%cn]" --decorate --date=short'
alias glgr='git log --pretty=format:"%C(yellow)%h %ad%Cred%d | %Creset%s%Cblue [%cn]" --decorate --date=relative'
alias glgc='git log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat'


# chezmoi
alias cz='chezmoi'
alias cad='cz add'
alias ced='cz edit --apply'
alias cedit='cz edit'
alias cdf='cz diff'
alias cst='cz status'
alias czu='cz update'


{{- if eq .osid "linux-arch" }}
# yay
alias y='yay'
alias yf='y -Fy'
alias yq='y -Qo'
alias ys='y -S'
alias yss='y -Ss'
alias yr='y -Rcnss'
alias yy='y -Syu --sudoloop --noconfirm'
alias yc='y -Sc'
alias ycc='y -Scc'


# pacman
alias unlock_pacman='sudo rm /var/lib/pacman/db.lck'
alias unlock_sudo='faillock --user $USER --reset'
alias pacman_cache='paccache -ruvk 0 && paccache -rvk 2'
alias pacman_orphaned='sudo pacman -Rns (pacman -Qtdq)' # Remove orphaned packages
alias mirror_update='curl -s "https://archlinux.org/mirrorlist/?country=FR&country=GB&country=DE&protocol=https&use_mirror_status=on" | sed -e "s/^#Server/Server/" -e "/^#/d" | rankmirrors -n 5 -'


# systemctl
alias senable='sudo systemctl enable'
alias sdisable='sudo systemctl disable'
alias sstart='sudo systemctl start'
alias srstart='sudo systemctl restart'
alias sstop='sudo systemctl stop'
alias sstatus='sudo systemctl status'
alias slist='systemctl list-unit-files --state=enabled'


# Misc
alias grub_regen='sudo grub-mkconfig -o /boot/grub/grub.cfg'
alias conda_init='eval "$(/home/maplepy/.miniconda3/bin/conda shell.fish hook)"'
{{- end }}
{{- if eq (output "fish" "-v" | trim) "3.1.0" }}
alias pastehere='sleep 2; xdotool type "$(xclip -o -selection clipboard)"'
{{- end }}
alias cleanemptydir='find . -type d -empty -delete' # remove empty directories

alias fishreload='source ~/.config/fish/config.fish'

#
## FUNCTIONS
function mkexdirs
            for i in (seq -w 00 $argv[1])
                    mkdir -p ex$i
            end
    end

#
## EXPORTS
#

{{- if eq .osid "linux-arch" }}
# export PATH='":$PATH
export EDITOR='vim'
export VISUAL='vim'
export SUDO_EDITOR=$EDITOR
#export MANPAGER='nvim +Man!'
export MANWIDTH=999
{{- else if eq .osid "linux-ubuntu" }}
export LD_LIBRARY_PATH="$HOME/sgoinfre/lib:$LD_LIBRARY_PATH"

# Generated for envman. Do not edit.
test -s "$HOME/.config/envman/load.fish"; and source "$HOME/.config/envman/load.fish"
{{- end }}

## Jump 
function __jump_add --on-variable PWD
  status --is-command-substitution; and return
  jump chdir
end

function __jump_hint
  set -l term (string replace -r '^j ' '' -- (commandline -cp))
  jump hint "$term"
end

function j
  set -l dir (jump cd "$argv")
  test -d "$dir"; and cd "$dir"
end

complete --command j --exclusive --arguments '(__jump_hint)'
