franciscolourenco/done
gazorby/fish-abbreviation-tips
jorgebucaran/autopair.fish
nickeb96/puffer-fish
{{ if (version_compare((fish -v), '3.1.0') >= 0 && version_compare((fish -v), '3.1.3') <= 0) }}
ilancosman/tide@v4.1.1
{{ else }}
ilancosman/tide@v5
{{ end }}
