jorgebucaran/fisher
franciscolourenco/done
gazorby/fish-abbreviation-tips
jorgebucaran/autopair.fish
nickeb96/puffer-fish
{{- if eq (output "fish" "-v" | trim) "fish, version 3.1.0" }}
ilancosman/tide@v4.1.1
{{- else }}
ilancosman/tide
{{- end }}
