franciscolourenco/done
gazorby/fish-abbreviation-tips
jorgebucaran/autopair.fish
nickeb96/puffer-fish
{{- if (version --is-at-least (fish -v) "3.1.0") && (version --is-at-most (fish -v) "3.1.2") }}
ilancosman/tide@v4.1.1
{{ else }}
ilancosman/tide@v5
{{ end }}

